{% extends "base.html" %}

{% block content %}
<br>
<h2 class="blog-post-title">Add new note to {{slug}}:</h2>
<br>
  <form method="post" action="">
    {% csrf_token %}
    <table>
      {{NoteForm}}
    </table>
    <input type="submit" value="Add"/>
  </form>
{% endblock %}
