{% extends "base.html" %}

{% block content %}
  <form method="post" action="">
    {% csrf_token %}
    <table>
      {{CommentForm}}
    </table>
    <input type="submit" value="Submit Form"/>
  </form>
{% endblock %}
