{% load i18n %}{% load staticfiles %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    <meta charset="utf-8">
    <title>GuestBook</title>
    <link rel="icon" type="image/png" href="{% static "blue64x64.png" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "blog.css" %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'html5shiv.js' %}"></script>
      <script src="{% static 'respond.min.js' %}"></script>
    <![endif]-->

  </head>

  <body>

    {% block container %}

    <div class="blog-masthead">
        <div class="container">
         <nav class="blog-nav">
           <a class="blog-nav-item active" href="{% url "library" %}">{% trans "Guest books" %}</a>
           <a class="blog-nav-item" href="{% url "createbook" %}">{% trans "Create guest book" %}</a>
           <a class="blog-nav-item" href="/guestbook/premoderate/">{% trans "Premoderate notes" %}</a>
           <a class="blog-nav-item" href="/guestbook/admin/">{% trans "For admins" %}</a>
            {% if user.is_authenticated %}
            <a class="blog-nav-item" href="{% url "logout" %}">{% trans "Log out" %}</a>
            {% else %}
            <a class="blog-nav-item" href="{% url "login" %}">{% trans "Log in" %}</a>
            {% endif %}
          </nav>
         </div>
    </div>

    <div class="container">

      {% block content_wrapper %}
      {% block content %}
      {% endblock %}
      {% endblock %}

    </div>

    {% endblock %}

    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>

    {% block extra_js %}
    {% endblock %}

  </body>

</html>
