{% extends "base.html" %}

{% block content %}
  {% load comments %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title"> {{book.name}} </h1>
      </div>
      <a href="/guestbook/addnote/{{book.slug}}/" class="btn btn-default">add note</a>
      <div class="row">
        <div class="col-sm-8 blog-main">
         {% for note in book.note_set.all %}
          {% if note.checked == 'good' %}
          <div class="blog-post">
            <h2 class="blog-post-title"> {{note.name}} </h2>
            <p class="blog-post-meta"> {{note.date}} </p>
               {{note.text}}
          <p>_</p>
          <font size="3">{% render_comment_list for note %}</font>
          <a href="#{{note.id}}" class="btn btn-default" data-toggle="collapse">add comment</a>
          <div id="{{note.id}}" class="collapse">
                  {% get_comment_form for note as form %}
                  <table>
                    <form action="{% comment_form_target %}" method="post">
                      {% csrf_token %}
                      {{ form }}
                      <tr>
                        <td colspan="2">
                          <input type="submit" name="submit" value="Post">
                          <input type="submit" name="preview" value="Preview">
                        </td>
                      </tr>
                    </form>
                  </table>
          </div>
          </div><!-- /.blog-post -->
         {% endif %}
         {% endfor %}

        </div><!-- /.blog-main -->


      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>



{% endblock %}
