{% extends "base.html" %}
{% block content %}
<br>
<h2 class="blog-post-title">Create new guest book:</h2>
 <br><br>
 <div class="container">
 <div class="col-sm-8 blog-main">
  <form method="post" action="">
    {% csrf_token %}
    <table>
      {{BookForm}}
    </table>
    <br>
    <input type="submit" value="Create"/>
  </form>
 </div>
 </div>
{% endblock %}
