{% extends "base.html" %}

{% block content %}
     <div class="blog-header">
       <h1 class="blog-title"> All guest books: </h1>
     </div>
     <br>
     <div class="container">
       <div class="row">
         <div class="col-sm-8 blog-main">
          {% for book in all_books %}
             <h2 class="blog-post-title"> <a href="/guestbook/book/{{book.slug}}" >{{book.name}}</a> </h2>
             <p class="blog-post-meta"> {{book.date}} </p>
          {% endfor %}
         </div>
       </div>
     </div>
{% endblock %}
